<div class="signup-team-container" data-cy="signup-team-container">

  <div class="div-btn-back" data-cy="div-btn-back">
    <button (click)="goBack()" data-cy="btn-back">
      <i class="fa-solid fa-chevron-left"></i>
    </button>
  </div>

  <div class="div-btn-welcome" data-cy="div-btn-welcome">
    <button (click)="goWelcome()" data-cy="btn-welcome">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>

  <div class="signup-team-title" data-cy="signup-team-title">
    <h1>NoteSoccer</h1>
  </div>

  <div class="signup-team-subtitle" data-cy="signup-team-subtitle">
    <h2>Cadastre seus Times</h2>
  </div>

  <!-- Formulário -->
  <form [formGroup]="signupTeamForm" (ngSubmit)="AdicionaTimeLista()" class="signup-form" data-cy="signup-form">

    <!-- Combo box de Ligas -->
    <div class="signup-form-group" data-cy="signup-form-league">
      <label for="league">Nome da Liga:</label>

      <input
        id="league"
        type="text"
        list="leagueList"
        placeholder="Selecione ou crie uma liga"
        formControlName="league"
        class="input-league"
        (blur)="adicionaLiga()"
        data-cy="input-league"
      />

      <datalist id="leagueList">
        <option *ngFor="let league of leagues" [value]="league"></option>
      </datalist>

      <!-- Mensagens de validação para a liga -->
      <div *ngIf="signupTeamForm.get('league')?.touched || signupTeamForm.get('league')?.dirty">
        <div class="msg-validation" *ngIf="signupTeamForm.get('league')?.hasError('required')">
          O nome da liga é obrigatório.
        </div>
        <div class="msg-validation" *ngIf="signupTeamForm.get('league')?.hasError('pattern')">
          O nome da liga deve conter apenas letras e espaços (sem números ou caracteres especiais).
        </div>
        <div class="msg-validation" *ngIf="signupTeamForm.get('league')?.hasError('minlength')">
          O nome da liga deve ter no mínimo 3 letras.
        </div>
        <div class="msg-validation" *ngIf="signupTeamForm.get('league')?.hasError('maxlength')">
          O nome da liga deve ter no máximo 30 letras.
        </div>
      </div>

    </div>


    <!-- Nome do Time -->
    <div class="signup-form-group" data-cy="signup-form-group">
      <label for="teamName">Nome do Time:</label>

      <div class="input-wrapper">
        <input id="teamName"
          type="text"
          placeholder="Não é permitido caracteres especiais"
          formControlName="teamName"
          class="input-name-team"
          data-cy="input-name-team"
        />
        <button
          type="submit"
          class="btn-add"
          [disabled]="signupTeamForm.invalid || teams.length >= maxTeams"
          [title]="teams.length >= maxTeams ? 'Limite de 20 times atingido' : 'Adicionar novo time'"
          data-cy="btn-add-team">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>

      <!-- Mensagens de validação -->
      <div *ngIf="signupTeamForm.get('teamName')?.touched">
        <div class="msg-validation" *ngIf="signupTeamForm.get('teamName')?.hasError('required')">
          O nome do time é obrigatório.
        </div>
        <div class="msg-validation" *ngIf="signupTeamForm.get('teamName')?.hasError('pattern')">
          O nome deve conter apenas letras e espaços.
        </div>
        <div class="msg-validation" *ngIf="signupTeamForm.get('teamName')?.hasError('minlength')">
          O nome deve ter no mínimo 3 letras.
        </div>
        <div class="msg-validation" *ngIf="signupTeamForm.get('teamName')?.hasError('maxlength')">
          O nome deve ter no máximo 20 letras.
        </div>
      </div>

      <div class="div-team-list" data-cy="div-team-list">
        <!-- Título da lista -->
        <h3 class="team-list-title" data-cy="team-list-title" *ngIf="teams.length > 0">Times cadastrados</h3>

        <!-- Lista de times adicionados -->
        <ul class="team-list" [ngClass]="{'scrollable': teams.length > 2}" *ngIf="teams.length > 0" data-cy="team-list">
          <li *ngFor="let team of teams; let i = index">{{ team.nome }}
            <button class="btn-remove-team" (click)="removeTeam(i)" data-cy="btn-remove-team">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </li>
        </ul>

        <!-- Contador -->
        <p class="team-counter" data-cy="team-counter" *ngIf="teams.length > 0">
          Total de Times Cadastrados: <span>{{ teams.length | number: '2.0' }}/20</span>
        </p>
      </div>

    </div>
  </form>

  <div class="container-btn" data-cy="container-btn">
    <div class="div-btn-matches" data-cy="div-btn-matches">
      <button class="btn-matches" (click)="salvarLigaETime()" [disabled]="isLoading" data-cy="btn-matches">
        <i class="fa-regular fa-calendar"></i>{{ isLoading ? 'Enviando...' : 'Cadastrar partidas' }}
      </button>
    </div>
  </div>
</div>
