.signup-success-container {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  text-align: center;
  background-color: #3D8852;
  color: #fff;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  overflow: hidden; /* impede scroll */
  padding: 2rem 1rem; /* leve padding lateral */
}

.div-btn-back,
.div-btn-welcome {
  position: absolute;
  top: 1rem;
}

.div-btn-back {
  left: 1rem;
}

.div-btn-welcome {
  right: 1rem;
}

.div-btn-back button,
.div-btn-welcome button {
  background: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  color: #fff;
}

.success-title h1 {
  font-size: 2rem;
  padding: 0 2rem;
  margin-bottom: 0.5rem;
  max-width: 340px;
}

.success-text h3{
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 1rem;
  font-family: 'Poppins', sans-serif;
}

.container-btn {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
  max-width: 350px;
}

.container-btn button {
  width: 100%;
  background-color: #FF9547;
  color: #fff;
  border: none;
  padding: 0.9rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.2s;
}

.container-btn button:hover {
  background-color: #d66a1ddc;
}

.container-btn button i {
  position: absolute;
  left: 1rem;
  font-size: 1.3rem;
  color: #fff;
}

.container-btn button:disabled {
  background-color: #C0B6AF;
  color: #fff;
  cursor: not-allowed;
}


/* ===== Responsividade ===== */

@media (max-width: 480px) {
  .signup-success-container {
    padding: 0rem 2rem;
    min-height: 100dvh; /* ocupa a altura "real" da viewport */
  }

  .success-title h1 {
    font-size: 2.1rem;
    padding: 0 2rem;
  }

  .success-text h3 {
    font-size: 1.2rem;
  }

  .success-btn button {
    font-size: 1rem;
    padding: 1rem;
  }
}

@media (max-width: 360px) {
  .signup-success-container {
    padding: 0 2rem;
  }

  .success-title h1 {
    font-size: 1.7rem;
  }

  .success-text h3 {
    font-size: 1rem;
  }

  .success-btn button {
    font-size: 1rem;
    padding: 1rem;
  }
}

@media (max-width: 320px) {

  .signup-success-container {
    padding: 0 2rem;
    gap: 2rem;
  }

  .success-title h1 {
    font-size: 1.4rem;
  }

  .success-text h3 {
    font-size: 0.9rem;
  }

  .success-btn button {
    font-size: 0.8rem;
    padding: 0.7rem;
  }

  .success-btn button i{
    font-size: 1rem;

  }
}
