<div class="signup-container" data-cy="signup-container">

  <!-- Div do botão de ir para tela inicial apenas para mobile -->
  <div class="div-btn-welcome" data-cy="div-btn-welcome">
    <button (click)="goWelcome()" data-cy="btn-welcome">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>

  <div class="signup-title" data-cy="signup-title">
    <h1>NoteSoccer</h1>
  </div>

  <div class="signup-subtitle" data-cy="signup-subtitle">
    <h2>Cadastre-se como Organizador</h2>
  </div>

  <form class="signup-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()" data-cy="signup-form">
    <!-- Nome -->
    <div class="signup-form-group" data-cy="signup-form-group-name">
      <label for="nome">Nome</label>
      <input id="nome" type="text" placeholder="Não é permitido números ou caracteres especiais"
      formControlName="nome" data-cy="input-name"/>

      <!-- Mensagens de atenção para os campos -->
      <div *ngIf="signupForm.get('nome')?.touched">
        <div class="msg-validation" *ngIf="signupForm.get('nome')?.hasError('required')">
          O nome é obrigatório.
        </div>
        <div class="msg-validation" *ngIf="signupForm.get('nome')?.hasError('pattern')">
          O nome deve conter apenas letras e espaços.
        </div>
        <div class="msg-validation" *ngIf="signupForm.get('nome')?.hasError('minlength')">
          O nome deve ter no mínimo 3 caracteres.
        </div>
        <div class="msg-validation" *ngIf="signupForm.get('nome')?.hasError('maxlength')">
          O nome deve ter no máximo 60 caracteres.
        </div>
      </div>
    </div>

    <!-- Apelido -->
    <div class="signup-form-group" data-cy="signup-form-group-nickname">
      <label for="apelido">Apelido</label>
      <input id="apelido" type="text" placeholder="Digite seu apelido"
      formControlName="apelido" data-cy="input-nickname"/>

      <!-- Mensagens de atenção para os campos -->
      <div *ngIf="signupForm.get('apelido')?.touched">
        <div class="msg-validation" *ngIf="signupForm.get('apelido')?.hasError('pattern')">
          O Apelido deve conter apenas letras e espaços.
        </div>
        <div class="msg-validation" *ngIf="signupForm.get('apelido')?.hasError('minlength')">
          O Apelido deve ter no mínimo 3 caracteres.
        </div>
        <div class="msg-validation" *ngIf="signupForm.get('apelido')?.hasError('maxlength')">
          O Apelido deve ter no máximo 60 caracteres.
        </div>
      </div>
    </div>

    <!-- Email -->
    <div class="signup-form-group" data-cy="signup-form-group-email">
      <label for="email">E-mail</label>
      <input id="email" type="email" placeholder="exemplo@provedor.com.br"
      formControlName="email" data-cy="input-email"/>

      <!-- Mensagens de atenção para os campos -->
      <div *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.invalid">
        <div class="msg-validation" *ngIf="signupForm.get('email')?.hasError('required')">O email é obrigatório.</div>
        <div class="msg-validation" *ngIf="signupForm.get('email')?.hasError('email') || signupForm.get('email')?.hasError('pattern')">
          Formato de email inválido ou contém espaços.
        </div>
        <div class="msg-validation" *ngIf="signupForm.get('email')?.hasError('minlength')">O email deve ter no mínimo 10 caracteres.</div>
        <div class="msg-validation" *ngIf="signupForm.get('email')?.hasError('maxlength')">O email deve ter no máximo 60 caracteres.</div>
      </div>
    </div>

    <!-- WhatsApp -->
    <div class="signup-form-group" data-cy="signup-form-group-whatsapp">
      <label for="whatsapp">WhatsApp</label>
      <div class="input-wrapper">
        <input id="whatsapp" type="text" placeholder=" DDD + número"
          formControlName="whatsapp" data-cy="input-whatsapp"/>
      </div>


      <!-- Mensagens de atenção para os campos -->
      <div *ngIf="signupForm.get('whatsapp')?.touched && signupForm.get('whatsapp')?.invalid">
        <div class="msg-validation" class="msg-validation" *ngIf="signupForm.get('whatsapp')?.hasError('pattern')">
          Formato inválido. Use: DDD + numero
        </div>
      </div>
    </div>

    <!-- Senha -->
    <div class="signup-form-group" data-cy="signup-form-group-password">
      <label for="senha">Senha</label>
      <div class="senha-wrapper">
    <input
      id="senha"
      [type]="showPassword ? 'text' : 'password'"
      placeholder="De 8 a 15 caracteres (letras e números)"
      formControlName="senha"
      data-cy="input-password"
    />

    <!-- Ícone de olho -->
    <button type="button" class="toggle-btn" (click)="togglePasswordVisibility()">
      <span *ngIf="showPassword"><i class="fa-solid fa-eye"></i></span>
      <span *ngIf="!showPassword"><i class="fa-solid fa-eye-slash"></i></span>
    </button>
  </div>

      <!-- Mensagens de atenção para os campos -->
      <div *ngIf="signupForm.get('senha')?.touched && signupForm.get('senha')?.invalid">
        <div class="msg-validation" *ngIf="signupForm.get('senha')?.hasError('required')">A senha é obrigatória.</div>
        <div class="msg-validation" *ngIf="signupForm.get('senha')?.hasError('minlength')">A senha deve ter no mínimo 8 caracteres.</div>
        <div class="msg-validation" *ngIf="signupForm.get('senha')?.hasError('maxlength')">A senha deve ter no máximo 15 caracteres.</div>
        <div class="msg-validation" *ngIf="signupForm.get('senha')?.hasError('pattern')">A senha deve conter apenas letras, números e caracteres especiais válidos.</div>
      </div>
    </div>

    <!-- Botões -->
    <div class="container-button" data-cy="container-button">
      <div class="signup-button" data-cy="signup-button">
        <button type="submit" [disabled]="signupForm.invalid" data-cy="signup-btn">
          <i class="fa-solid fa-chevron-right"></i> Cadastre-se
        </button>
      </div>

      <div class="login-button" data-cy="login-button">
        <button (click)="goLogin()" data-cy="login-btn">
          <i class="fa-solid fa-chevron-right"></i> Já tem conta? ACESSAR
        </button>
      </div>
    </div>
  </form>
</div>
